body {
    font-family: Arial;
}

a {
    text-decoration: none;
}

.naglowek {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    height: auto;
    background-color: #f5f5f5;
    box-shadow: 2px 2px 10px black;
    border-radius: 2rem;
    padding: 10px;
}

.naglowek img {
    width: 128px;
    height: 128px;
}

.naglowek h1 {
    font-weight: bold;
    text-shadow: 1px 1px 5px gray;
}

.stopka {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    height: auto;
    background-color: #f5f5f5;
    box-shadow: 2px 2px 10px black;
    border-radius: 2rem;
    padding: 10px;
}

.stopka span {
    font-weight: bold;
}